# Ignore everything
*

# But not these files...
!.files/
!.files/**
!.tmux/
!.tmux/**
!.zsh/
!.zsh/**
!.codex/
!.codex/AGENTS.md
!.gitconfig
!.gitignore
!.tmux.conf
!.bashrc
!.zshrc
!example.env.z.sh
!install.sh
!README.md
