# Ignore everything
*

# But not these files...
!.agents/
!.agents/**
!.bashrc
!.files/
!.files/**
!.gitconfig
!.gitignore
!.tmux.conf
!.tmux/
!.tmux/**
!.zsh/
!.zsh/**
!.zshrc
!README.md
!example.env.z.sh
!install.sh
